body{
    background-image:url("https://firebasestorage.googleapis.com/v0/b/d-gram-3331d.appspot.com/o/WebImages%2FProyecto.png?alt=media&token=64d16d05-9832-42bd-a58a-4066c172aaf2");
    background:  center center cover no-repeat fixed;
}
.Derecha{
    float:left;
    width: 30%;
    height: 100%;
    margin: 100px;
    padding: 10px;
    padding-bottom: 35px;
    padding-right: 30px;
    border: 3px solid #112D4E;
    background: #DBE2EF;
    border-radius: 20px;
}
.Titulo{
font-family: Arial;
font-size: x-large;
color: darkblue;
}
.Descripcion{
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: large;
}
.caja{
    padding-top: 70px;
}
.logear{
    float:right;
    width: 500px;
    height: 500px;
    margin: 100px;
    padding: 10px;
    padding-bottom: 35px;
    border: 3px solid blue;
    background: #DBE2EF;
    border-radius: 20px;
}
.Index{
    margin-top: 15px;
    border-radius: 3px;
    font-size:xx-large;
    padding: 10px;
    color: #3b5998;
    height: 50px;
    margin-bottom: 50px;
}
.field{
    margin-top: 10px;
    border: solid 2px #a386cc;
    border-radius: 8px;
    width: 420px;
    font-size:x-large;
    padding: 10px;
    background: #f5f5f5;
    color: #3b5998;
    padding-top: 15px;
}
.botoncito{
    border: 3px solid #112D4E;
    border-radius: 10px;
    font-size: x-large;
    color:#DBE2EF;
    background: #3b5998;
    border-color: #3b5998;
    float: left;
    margin-left: 55px;
    height: 60px;
    width: 350px;
}
.botoncito2{
    margin-top: 62px;
    border: 3px solid #112D4E;
    border-radius: 0px;
    font-size: x-large;
    color:#DBE2EF;
    background: #112D4E;
    border-color: #112D4E;
    float: left;
    height: 80px;
    margin-left: -4.5%;
    width: 109%;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
}

