@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

#logo {
  float: left;
  width: 75%;
  height: 70px;
  font-size: 36px;
  background-color: #e2e5ed;
  padding: 10px;
  color: #2c3e50;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#menu {
  height: 70px;
  font-size: 16px;
  background-color: #e2e5ed;
  padding: 10px;
  line-height: 50px;
  vertical-align: middle;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#menu a {
  text-decoration: none;
  color: #112D4E;
  margin: 0 20px;
}

#menu a:hover {
  font-weight: bold;
}

.enfasi_negrtita {
  font-weight: bold;
}

.derecha {
  max-width: 100%;
  text-align: right;
  padding: 10px;
}

.derecha a {
  text-decoration: none;
  color: #ea7f00;
  line-height: 25px;
  font-family: Verdana, serif;
}

.derecha a:hover {
  font-weight: bold;
}

.img_s {
  width: 30px;
}

#posts {
  width: 100%;
}

/* Footer */
#footer {
  clear: both;
  max-width: 100%;
  font-size: 13px;
  background-color: #112D4E;
  color: #e6e6e6;
  height: 80px;
  padding: 10px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#footer div {
  float: left;
  width: 33%;
}

#footer a {
  text-decoration: none;
  color: #e6e6e6;
}

#footer a:hover {
  text-decoration: underline;
}

#footer ul {
  list-style: none;
}

#footer ul li {
  margin-left: 100px;
}

.imagen {
  width: 20%;
}

.usuario {
  float: left;
  width: 39%;
  height: 38%;
  margin-top: 3%;
  margin-left: 30%;
  border: 2px solid #dbe2ef;
  background: #dbe2ef;
  font-family: "Trebuchet MS", serif;
}

.caja {
  float: left;
  width: 39%;
  height: 50%;
  margin-left: 30%;
  border: 2px solid #dbe2ef;
  border-top: none;
  background: white;
  font-family: "Trebuchet MS", serif;
}

.abajo {
  float: left;
  width: 5%;
  height: 80px;
  margin-left: 30%;
  padding: 0;
  margin-bottom: 10px;
  background: white;
  font-family: "Trebuchet MS", serif;
}

.titulo{
  font-family: "Trebuchet MS", serif;
  font-weight:bold;
  color: #112D4E;
  text-decoration: underline;
}

.descripcion{
  font-family: "Trebuchet MS", serif;
  color: #2c3e50;
  margin-top: 2%;
  
}

/* corazoncito*/
.likes {
  position: relative;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.contenido.corazon-active {
  border-color: #f9b9c4;
  background: #fbd0d8;
}

.corazon {
  position: absolute;
  background: url("../imagenes/img.png") no-repeat left;
  background-size: 2900%;
  height: 90px;
  width: 120px;
  left: 21%;
  transform: translate(-50%, -50%);
}

.numero.corazon-active {
  color: #000;
}

.corazon.corazon-active {
  animation: animate 0.8s steps(28) 1;
  background-position: right;
}

@keyframes animate {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
